.booklist {
  height: 100px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  list-style: none;
  border-bottom: 1px solid #eee;
  margin-bottom: var(--gap-2xs);
  padding: var(--gap-3xs) var(--gap-2xs);
  border: 3px solid var(--clr-medium);
  border-style: outset;
  border-radius: 8px;
}

.booklist:hover {
  background-color: var(--clr-medium-light);
  cursor: pointer;
}

.covers {
  max-height: 100%;
  width: auto;
}

h3, p {
  margin: 0;
}

.pagination {
  margin-inline: var(--gap-m);
}

.paginationButton {
  height: 2.5rem;
  border-radius: 16px;
  flex-shrink: 0;
  transition: scale 125ms;
}

.paginationButton:hover {
  scale: 0.9;
}

.truncatedText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-inline: var(--gap-2xs);
  }

.authorAndYear {
  margin-left: auto;
}
