.covers {
  max-height: 100%;
  width: auto;
}

h3, p {
  margin: 0;
}

p.numFoundBooks {
  display: inline-block;
  text-align: center;
  margin: 0 0 2em;
  font-weight: 600;
}

.pagination {
  margin-inline: var(--gap-m);
}

.paginationButton {
  height: 2.5rem;
  border-radius: 16px;
  flex-shrink: 0;
  transition: scale 125ms;
}

.paginationButton:hover {
  scale: 0.9;
}

.iconsAndYear {
  margin-left: auto;
}

.bookYear {
  text-align: center;
}

.navIconTrans {
  fill: transparent;
  height: calc((var(--fs-nav-s)) * 0.75);
  transition: fill 0.25s ease-in-out;
}

.navIconFill {
  fill: var(--clr-medium);
  height: calc((var(--fs-nav-s)) * 0.75);
  transition: fill 0.25s ease-in-out;
}

.navIconTrans:hover,
.navIconFill:hover {
  scale: 1.1;
  transition: scale 0.125s ease-in-out;
}

.icons {
  text-align: left;
}

ul.bookList {
  display: inline-block;
  padding-inline-start: 0;
  width: 1280px;
  max-width: 100%;
}

li.booklist {
  height: 100px;
  display: flex;
  max-width: 100%;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid #eee;
  margin-bottom: var(--gap-2xs);
  padding: var(--gap-3xs) var(--gap-2xs);
  border: 3px solid var(--clr-medium);
  border-style: outset;
  border-radius: 8px;
  overflow: hidden;
}

li.booklist:hover {
  background-color: var(--clr-medium-light);
  cursor: pointer;
}

.tileAndAuthor {
  flex: 1;
  display: flex;
  gap: var(--gap-2xs);
  margin-inline: var(--gap-2xs);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1;
  max-width: 100%;
  min-width: 0;
}

.truncatedText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.searchGif img {
  position: absolute;
  max-height: 10vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: var(--fs-1);
  }

  li.booklist {
    height: auto;
  }

  img {
    height: 80px;
  }

  .iconsAndYear {
    display: grid;
    height: 80px;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .bookYear,
  .iconsAndYear hr {
    display: none;
  }
}
