.wrapper {
  display:flex;
  justify-content: space-evenly;
  max-width: 800px;
  margin: 6rem auto 0;
  gap: var(--gap-m);
}

.icons {
  margin-top: var(--gap-2xs);
}

h1.title {
  font-size: var(--fs-1);
  margin: 0;
}

h2.author {
  font-size: var(--fs--1);
  margin-top: 0.175em;
  text-decoration: none;
}

.authorSpan {
  text-decoration: underline;
  cursor: pointer;
  padding-right: 0.35em;
  text-underline-offset: 0.3em;
  transition: all 0.3s;
}

.authorSpan:hover {
  text-decoration: underline overline var(--clr-medium);
  color: var(--clr-medium);
}

.navIconTrans {
  fill: transparent;
  height: calc((var(--fs-nav-s)));
  transition: fill 0.25s ease-in-out;
}

.navIconFill {
  fill: var(--clr-medium);
  height: calc((var(--fs-nav-s)));
  transition: fill 0.25s ease-in-out;
}

.navIconTrans:hover,
.navIconFill:hover {
  scale: 1.1;
  transition: scale 0.125s ease-in-out;
}

.img {
  cursor: default;
}

.titleWrapper {
  display: flex;
  align-items: center;
}

p {
  margin-bottom: 0;
}

.infoWrapper {
  margin-top: var(--gap-2xs);
}

.info {
  font-weight: 600;
}

.bookDetails {
  display: grid;
  justify-items: left;
  align-items: center;
  align-content: start;
  text-align: start;
}

.placeholder {
  max-height: 300px;
}

.genres {
  display: flex;
  gap: 2em;
  margin-top: var(--gap-2xs);
  font-weight: 600;
}

button.subjectButton {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: var(--clr-text);
}

.subjectButton:hover {
  text-decoration: underline overline var(--clr-medium);
  color: var(--clr-medium);
}

.searchGif img {
  position: absolute;
  max-height: 10vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
