.wrapper {
  display:flex;
  justify-content: space-evenly;
  max-width: 800px;
  margin: 6rem auto 0;
}

h1.title {
  font-size: var(--fs-1);
  margin: 0;
}

h2.author {
  font-size: var(--fs--1);
  margin: 0.25em;
}

.bookDetails {
  display: grid;
  justify-items: left;
  align-items: center;
  align-content: center;
}
