.wrapper {
  display:flex;
  justify-content: space-evenly;
  max-width: 800px;
  margin: 6rem auto 0;
  gap: var(--gap-m);
}

h1.title {
  font-size: var(--fs-1);
  margin: 0;
}

h2.author {
  font-size: var(--fs--1);
  margin: 0.25em;
  text-decoration: underline;
}

.navIconTrans {
  fill: transparent;
  height: calc((var(--fs-nav-s)) * 0.75);
  transition: fill 0.25s ease-in-out;
}

.navIconFill {
  fill: var(--clr-medium);
  height: calc((var(--fs-nav-s)) * 0.75);
  transition: fill 0.25s ease-in-out;
}

.navIconTrans:hover,
.navIconFill:hover {
  scale: 1.1;
  transition: scale 0.125s ease-in-out;
}

.titleWrapper {
  display: flex;
  align-items: center;
}

p {
  margin-bottom: 0;
}

.info {
  font-weight: 600;
}

.bookDetails {
  display: grid;
  justify-items: left;
  align-items: center;
  align-content: start;
  text-align: start;
}

.placeholder {
  max-height: 300px;
}
