.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.searchBar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchField {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 300px;
}


.searchField input {
  box-sizing: border-box;
  width: 100%;
  padding-right: 40px;
  height: 2.5rem;
  border-radius: 16px 0 0 16px;
  border-color: var(--clr-medium);
  border-width: 2px;
  border-style: solid;
  text-align: center;
}

.searchButton {
  height: 2.5rem;
  border-radius: 0 16px 16px 0;
  flex-shrink: 0;
}

.searchGif {
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 1;
  height: 100%;
}

.searchGif img {
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
}

.suggestionBox {
  position: relative;
  width: 100%;
}

.suggestionBox > ul {
  justify-items: center;
  border-radius: 16px;
}

.suggestionBox > ul > li {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap-3xs);
}

.suggestions {
  display: grid;
  justify-items: center;
  position: absolute;
  color: white;
  background-color: var(--clr-medium);
  padding: 0;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  top: var(--gap-3xs)
}

.suggestions > li {
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor: pointer;
  line-height: 1;
  margin: 0px 8px;
  width: 100%;
}

.suggestions > li > p {
  max-width: 25ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestions > li:hover {
  background-color: var(--clr-dark);
}

.suggestions > li:not(:last-child) {
  border-bottom: 1px grey solid;
}

@media screen and (max-width: 480px) {
  .suggestions > li > p {
    max-width: 15ch;
  }
}
