.searchContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.searchBar {
  display: flex;
  justify-content: center;
}

.searchField {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 300px;
}


.searchField input {
  box-sizing: border-box;
  width: 100%;
  padding-right: 40px;
  height: 2.5rem;
  border-radius: 16px 0 0 16px;
  border-color: var(--clr-medium);
  border-width: 2px;
  border-style: solid;
  text-align: center;
}

button {
  height: 2.5rem;
  border-radius: 0 16px 16px 0;
}

.searchGif {
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 1;
  height: 100%;
}

.searchGif img {
  height: 80%;
  top: 50%;
  transform: translateY(-50%);

}

.suggestionBox {
  position: relative;
}

.suggestionBox > ul {
  justify-items: center;

}

.suggestionBox > ul > li {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap-3xs);
}

.suggestions {
  display: grid;
  justify-items: center;
  position: absolute;color: white;
  background-color: var(--clr-medium);
  padding: 0;
  grid-row: 1;
}

.suggestions > li {
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor: pointer;
  line-height: 0;
  margin: 4px 8px;
}

.suggestions > li:hover {
  background-color: cyan;
}

.suggestions > li:not(:last-child) {
  border-bottom: 1px grey solid;
  width: 100%;
}
