nav {
  display: flex;
  max-width: 1240px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--clr-dark);
}

.menu {
  display: flex;
  gap: var(--gap-m);
  align-items: center;
  margin-right: var(--gap-s);
  border-bottom: none;
}

.navItems {
  font-family: var(--font);
  font-size: var(--fs-nav-s);
  color: var(--clr-dark);
  line-height: 0;
  align-items: center;
}

.navItems:hover span {
  color: var(--clr-medium);
}

.navItems.active {
  text-decoration: underline;
}

.navLogo {
  font-size: var(--fs-nav);
  margin-left: var(--gap-s);
  transition: color 0.25s ease-in-out;
}

.navLogo:hover {
  color: var(--clr-medium)
}

.serif {
  font-family: var(--font-accent);
  font-size: var(--fs-nav-accent);
  margin-right: 0.2rem;
}

.navIcon {
  fill: transparent;
  height: calc((var(--fs-nav-s)) * 0.75);
  transition: fill 0.25s ease-in-out;
}

.navItems:hover .navIcon {
  fill: var(--clr-medium);
}

span {
  transition: color 0.25s ease-in-out;
}

.activeLink {
  color: var(--clr-medium);
  text-decoration: underline;
}

.hamburgerLink {
  color: white
}

.hamburgerLink h2:hover {
  color: rgb(208, 219, 207);
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.activeLink:hover {
  color: var(--clr-medium);
  text-decoration: underline;
}

.activeLink .navIcon {
  fill: var(--clr-medium);
}

.hamburgerIconContainer{
  position: absolute;
  top: 1.5em;
  right: 2.5em;
  display: none;
}

.hamburgerContainer {
  position: absolute;
  inset: 0;
  color: white;
  background-color: var(--clr-medium);
  padding: 6em 0 0 0;
  z-index: 1;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.hamburgerContainer.open {
  transform: translateY(0);
}

@media (max-width: 860px) {
  .menu {
    display: none;
  }

  .hamburgerIconContainer {
    display: block;
    z-index: 10;
  }

  .hamburgerContainer {
    display: block;
  }

}
