.startPageContainer {
  max-height: 100dvh
}

.serif {
  font-family: var(--font-accent);
  font-size: 1.4em;
  margin-right: 0.2rem;
}

h1 {
  font-weight: 500;
}

h2 {
  font-size: var(--fs-1);
  font-weight: 600
}

h3 {
  font-size: var(--fs-3);
  font-weight: 400;
  margin-top: 0.25em;
}

.bookIconAnimated {
  max-width: 40%;
  margin-top: 2em;
  color: #5C6837;
}

.bookIconAnimated path {
  stroke: #5C6837;
}

@media (max-width: 400px) {
  h1 {
    font-size: var(--fs-5);
  }
}
