.editionWrapper {
  display: grid;
  padding-bottom: 1em;
  justify-content: center;
  justify-items: center;
}

.covers {
  height: 150px;
  width: auto;
}

h4 {
  margin-top: 4em;
  text-align: left;
}

img {
  cursor: pointer;
}
