@font-face {
  font-family: 'Geist';
  src: url('../src/assets/fonts/Geist/Geist-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Great Vibes';
  src: url('../src/assets/fonts/Great_Vibes/GreatVibes-Regular.ttf');
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --clr-dark: #3B3E2D;
  --clr-medium: #5C6837;
  --clr-medium-light: #b2d2e0;
  --clr-light: #F5F6F1;

  --font: 'Geist';
  --font-accent: 'Great Vibes';

  --fs-nav: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
  --fs-nav-s: clamp(1.125rem, 0.9293rem + 0.9783vw, 1.6875rem);
  --fs-nav-accent: clamp(1.75rem, 1.4457rem + 1.5217vw, 2.625rem);

  /* Font Sizes */
  --fs-0: clamp(1.125rem, 1.038rem + 0.4348vw, 1.375rem);
  --fs-1: clamp(1.35rem, 1.2217rem + 0.6413vw, 1.7188rem);
  --fs-2: clamp(1.62rem, 1.4362rem + 0.919vw, 2.1484rem);
  --fs-3: clamp(1.944rem, 1.6861rem + 1.2896vw, 2.6855rem);
  --fs-4: clamp(2.3328rem, 1.9766rem + 1.7811vw, 3.3569rem);
  --fs-5: clamp(2.7994rem, 2.3135rem + 2.4292vw, 4.1962rem);
  --fs-6: clamp(3.3592rem, 2.7032rem + 3.28vw, 5.2452rem);
  --fs-7: clamp(4.0311rem, 3.1527rem + 4.3921vw, 6.5565rem);


  /* Gaps */
  --gap-3xs: clamp(0.375rem, 0.3098rem + 0.3261vw, 0.5625rem);
  --gap-2xs: clamp(0.75rem, 0.6196rem + 0.6522vw, 1.125rem);
  --gap-xs: clamp(1.125rem, 0.9293rem + 0.9783vw, 1.6875rem);
  --gap-s: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
  --gap-m: clamp(2.25rem, 1.8587rem + 1.9565vw, 3.375rem);
  --gap-l: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);
  --gap-xl: clamp(4.5rem, 3.7174rem + 3.913vw, 6.75rem);
  --gap-2xl: clamp(6rem, 4.9565rem + 5.2174vw, 9rem);
  --gap-3xl: clamp(9rem, 7.4348rem + 7.8261vw, 13.5rem);

  button {
    background-color: var(--clr-medium);
    color: var(--clr-light);
    box-sizing: border-box;
    text-align: center;
    line-height: 0;
    font-family: var(--font);
  }
}

a {
  font-weight: 500;
  color: var(--clr-dark);
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  min-height: 100svh;
  background-color: var(--clr-light);
}

h1 {
  font-size: var(--fs-7);
  line-height: 1.1;
}

h2 {
  font-size: var(--fs-3);
  font-weight: 400;
}

h3 {
  font-size: var(--fs-1);
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Geist";
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
