.wrapper {
  max-width: 75ch;
  margin: 0 auto 0;
  gap: var(--gap-m);
}

h1.title {
  font-size: var(--fs-4);
  margin: 1.5em 0 0.75em;
}

.authorName {
  color: red;
}

p {
  text-align: left;
  margin-bottom: 0;
}

.authorImage {
  margin-right: 1.25em;
  float: left;
  cursor: default;
  border-radius: 16px 0 0 0 ;
}

.infoWrapper {
  margin-top: var(--gap-2xs);
}

.info {
  font-weight: 600;
  margin-block: 0.75em;
  line-height: 1;
}

.searchGif img {
  position: absolute;
  max-height: 10vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .authorImage{
    max-width: 35vw;
  }

  p.descriptionText {
    overflow-wrap: break-word;
    word-wrap: break-word; /* for older browsers */
    word-break: break-word;
  }
}

@media screen and (max-width: 480px) {
  .authorImage{
    max-width: 35vw;
  }
}
